.form_label {
   /* width: 100%; */
   display: grid;
   grid-template-areas: 'input';
}

.form_input {
   grid-area: input;
   z-index: 1;
}

.form_text {
   grid-area: input;
   /* z-index: 2; */
   width: max-content;
   height: 100%;

   margin-left: 1rem;
   /* padding: 0 0.5rem; */
   display: flex;
   align-items: center;
   transform-origin: left;
   transition: transform 0.2s;
}

.form_input:focus+.form_text,
.form_input:not(:placeholder-shown)+.form_text {
   transform: translateY(-50%) scale(0.8);
   margin-top: 1px;
}
