@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .contentSwitch {
      position: relative;
      width: 4rem;
      height: 2rem;
      cursor: pointer;
      border-radius: 16px;
      padding: 0.2rem 0.3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      img {
         position: absolute;
         z-index: 10;
         top: 0;
         bottom: 0;
         margin: auto;
         margin-right: 0.40rem;
         margin-left: 0.34rem;
      }
   }

   .switch {
      border-radius: 50%;
      transition: transform 0.2s;
   }

   .onSwitch {
      transform: translateX(100%);
      /* width: 10dvh; */
   }

   /* .btn-secondary {
     @apply
   } */
   .grid-cols-custom-category {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   }

   /* .grid-cols-custom-products {
      grid-template-columns: repeat(auto-fit, minmax(8rem, 14.7rem));
   } */
   /* .grid-cols-custom-products {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 15.2rem));
      grid-template-rows: repeat(auto-fit, minmax(5rem, 25rem));
   } */
   .grid-cols-custom1720px {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 14.2rem));
      grid-template-rows: repeat(auto-fit, minmax(5rem, 25rem));
   }
   .grid-cols-custom1920px {
      grid-template-columns: repeat(auto-fit, minmax(5rem, 16.7rem));
      grid-template-rows: repeat(auto-fit, minmax(5rem, 25rem));
   }

   /* stylos que se aplican en componente Filter.ts para el filter animation */
   .animationFilter {
      transition: min-width 0.06s, min-height 0.10s;
   }

   .inputSearch {
      width: 0dvw;
      transition: width 0.2s;
   }

   .inputSearch.active {
      width: 55dvw;
      padding: 0.66rem;
   }

   .checkboxStyle {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 1.6rem;
      height: 1.6rem;
      background-color: #fff;
      margin-top: 3px;
      border-radius: 6px;
   }

   .checkboxStyle:checked {

      background-image: url('../public/check.svg');
      background-repeat: no-repeat;
      background-position: center;
   }

   /* stylos que se aplican en componente cardProducts.tsx para la opacidad con hover y icono */
   .iconSearch {
      opacity: 0;
   }

   .productImg:hover>img {
      transition: opacity 0.5s;
      opacity: 0.8;
   }

   .productImg:hover>.iconSearch {
      opacity: 100;
   }

   /* .scrollCartShop{
      scrollbar-width: thin;
   } */
   .stickyStyle {
      position: fixed;
      top: 0;
   }

   .gridColsCart {
      grid-template-columns: 20% 30% repeat(4, 1fr);
      grid-template-rows: 8rem;
   }
   .gridColsCartHeader {
      grid-template-columns: 20% 30% repeat(4, 1fr);
   }

}